<mat-table [dataSource]="data" matSort class="mat-cell" class="mat-elevation-z8">
    
    <ng-container *ngFor="let column of columnDefs" matColumnDef="{{column.field}}">        
        <mat-header-cell *matHeaderCellDef>{{ column.headerName }}</mat-header-cell>
        <!--<mat-header-cell *matHeaderCellDef>{{column.headerName}}</mat-header-cell>-->
        <mat-cell *matCellDef="let element"> {{element[column.field]}} </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
    <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>

</mat-table>