@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-table {
    height: 100%;
    width: 850px; 
    margin: 0px;
    padding: 0px;
}

.mat-header-cell {
    /*justify-content: center;*/
    text-align: center;
}

.mat-cell {
    justify-content: center;
}

.mat-column-position {
    flex: 0 0 3% !important;
    border-right: 1px  solid darkgrey;
    padding: 0% 1% !important;
}

.mat-column-points {
    flex: 0 0 10%;
}

.mat-column-full_name {
    flex: 0 0 20%;
    justify-content: flex-start;
}

@media screen and (max-width:640px) {
}

@media screen and (max-width:1024px) and (min-width:640px) {
}

@media screen and (min-width:1024px) {
}