<mat-table [dataSource]="datas" matSort class="mat-cell" class="mat-elevation-z8">
    
    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">        
        <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="header-row-first-group">
        <mat-header-cell *matHeaderCellDef
        [style.text-align]="center"
        [attr.colspan]="4"> First group </mat-header-cell>
    </ng-container>
        
    <ng-container matColumnDef="header-row-second-group">
        <mat-header-cell *matHeaderCellDef
        [attr.colspan]="0"> Second group </mat-header-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['header-row-first-group', 'header-row-second-group']"></mat-header-row>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>