@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-table {
    height: 400px;
    width: 900px;
    overflow: auto;
}
.mat-header-cell {
    justify-content: center;
    text-align: center;
}

.mat-cell {
    justify-content: center;
}

.mat-column-position {
    flex: 0 0 3% !important;
    border-right: 1px  solid darkgrey;
    padding: 0% 1% !important;
}

.mat-column-points {
    flex: 0 0 50px;
}

.mat-column-full_name {
    flex: 0 0 150px;
}